/* SMARTPHONE 
(min-width: 320px) and (max-width: 479px) */
/* 480px is the breakpoint for smartphones in landscape mode 


@media screen and (max-width: 480px) {
	#gallery li {
	width: 90%;
	margin: 2.5% auto;
	display: block;
	text-align: center;
	padding: 0px;
}

#logo {
	margin: 0px auto;
	height: 40px;
	text-align: center;
	}


.first-bio {
	font-size: .75em;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	text-align: center;
	padding: 0px 20px;
}


}




/*************************************

THIS SECTION FOR TABLET

************************************



@media screen and (min-width: 481px) and (max-width: 768px) {
	

/*#gallery li:nth-of-type(1n+1) {
	clear: left;
}*/
/*
#gallery li {
	width: 40%;
	margin: auto 2.5%;
	display: block;
	padding: 0px;
}

#wrapper {
	margin: auto;
	display: block;
	clear: both;
	}

.first-bio {
	font-size: 1.25em;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	text-align: center;
	padding: 0px 20px;
}

/*************************************

THIS SECTION FOR TABLET LANDSCAPE

*************************************/

/*

@media screen and (max-width: 900px) {
	
	/*.album li:nth-of-type(3n+1) {
	clear: left;
}
	#wrapper {
	margin: auto;
	display: block;
	clear: both;
	}*/
/*
.menu {
		margin: auto;
	display: block;
	clear: both;
	background-color: red;
}

#minimenu {
	text-align: center;
	background-color: yellow;
	clear: both;
		padding: 0px;
}

#logoname {
	text-align: center;

li.nav {
	display: inline-block;
	padding: 15px 0px;
}
}
}








@media screen and (min-width: 768px) {

nav {
	font-size: 1.125em;
}
	/* 
h1 { 
	font-size: 2.5em;
}

h2 {
	font-size: 1.25em;
	margin-bottom: 10%;
}

#gallery li:nth-of-type(4n+1) {
		clear: left;
}
	#wrapper {
	margin: auto;
	display: block;
	clear: both;
	} */





/*************************************

THIS SECTION FOR DESKTOP

/* 660px is the breakpoint for large tablets and normal sized desktops 
*************************************/

/*
@media screen and (min-width: 900px){


	