
/* SMARTPHONE 480px is the breakpoint for smartphones in landscape mode *****************/

@media screen and (min-width: 320px) and (max-width: 768px) {


/*----Basics------*/
  header {
  display: flex;
    justify-content: center;
    flex-direction: row
    background-color: #505050;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 100%;
    border-bottom: none;

  }


  body {display: flex;
     flex-direction: column;
  }


  h1 {
      padding: 100px 0px 0px 0px;
      margin: auto;
      text-align: center;
      font-size: 1.5em;
  }


  h3 {
      padding: 10px 0px 10px 0px;
      margin: auto;
      text-align: left;
      font-size: 1.5em;
  }


  h4 {
    text-transform: uppercase;
    font-size: .75em;
    letter-spacing: 1px;
  }



/*----Header------*/
  .logo {
      margin-left: 0px;
      padding: 20px ;
      width: 55px;
  }


  #co-name {
      float: right;
      margin: 30px 0 0 0;
      padding: 0 0 0 5px;
  }




/*----MENU------*/
.menu_mobile {
  display: flex;
  position: fixed;
  justify-content: space-around;
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
   background-color: #505050;
  }

.largescreen, .contact-box {
  display: none;
}

li.m_nav {
    display: inline-block;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 5px;
}


a {
  text-decoration: none;
  color: grey;
}

.social{
    max-width: 25px;
    z-index: 100%;
    padding:7px;
}

footer {
    text-align: center;
    background-color: #505050;
    padding: 5px 0px;
    z-index: 100%;
    position: fixed;
    }


/*----About----*/

.about-box {
    width: 100%;
    background-color: #C8EAF2;
}

img.diane {
      border-radius: 50%;
      border: solid 5px white;
      margin: 20px 10% -70px 50%;
      max-width: 60%;
      z-index: 100%;
    }


.blurb {
      max-width: 80%;
      padding-bottom: 100px;
      z-index: 50%;

    }

.profile {

}
#about {
}


}




/*----PORTFOLIO----*/

.showcase {
    display: flex;
    justify-content: column;
    background-color: #f9f9f9;
}


#work {
    padding: 30px 0px 60px 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f9f9f9;
}


.portfolio {
  max-width: 320px;
  padding-bottom: 10px;
}

img {
  width: 100%;
}






/****TABLET ***************************/

@media screen and (min-width: 481px) and (max-width: 768px) {


}





/****TABLET LANDSCAPE***************************/

@media screen and (max-width: 900px) {


}
