  /* normalize.css 2011-06-23T00:50 UTC //github.com/jonathantneal/normalize.css */
    article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}html{cursor:default;font-size:100%;overflow-y:scroll;-webkit-tap-highlight-color:transparent;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body,form,input,button,select,textarea{font-size:100%;margin:0}a,a:active,a:hover{outline:none}a:focus{outline:thin dotted}abbr{_border-bottom:expression(this.title ? '1px dotted':'none')}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}mark{background:#FF0;color:#000}pre,code,kbd,samp{font-family:monospace,monospace;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small,sub,sup{font-size:75%}sub,sup{line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}nav ul{list-style:none}audio[controls],canvas,video{display:inline-block;*display:inline}audio{display:none;_display:expression(this.controls ? 'inline':'none');*zoom:1}audio[controls]{display:inline-block}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){ overflow:hidden}legend{*margin-left:-7px}button,input,select,textarea{vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal;_overflow:expression(this.type == 'button|reset|submit' ? 'visible':'')}button,input[type="button"],input[type="reset"],input[type="submit"]{overflow:visible;-webkit-appearance:button}input[type="checkbox"],input[type="radio"]{box-sizing:border-box}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration{ -webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}





/*----BASICS ----
logo blue is 89D0E0 */

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Nunito Sans', sans-serif;
}

h1 {
  padding: 20px 50px;
  color: #89D0E0;
  background-color: pink;
  text-align: center;
}

li {
  font-family: 'Nunito Sans', sans-serif;
}

a {
	text-decoration: none;
  color: grey;
}

a:hover {
  color: #89D0E0;
}
body {
  color: #111111;
  text-align: left;

}

section {
    padding-top: 0px ;
    padding-bottom: 0px;
    background-image: url('images/Pattern.jpg');
    color: black;
    text-align: center;
    background-attachment: fixed;
    border-bottom: 3px solid white;
  }


footer {
  font-size: 1em;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  padding-top: 5px;
  color: lightgrey;
}

.top_of_page {
  background-color: yellow;
}




/*----NAV & MENU----*/

#co-name {
	text-align: left;
	float: left;
}


.menu {
  	list-style: none;
  	margin: 0;
  	text-align: right;
  	border-bottom: 1 px solid #000000;
  	position:fixed;
  	top: 0px;
  	left: 0px;
  	width: 100%;
  	z-index: 100;
  	background-color: white;
}


#minimenu {
padding-right: 50px;
}


li {
	display: inline-block;
	padding: 35px 70px 35px 0px;
}


.logo {
	float: left;
	padding: 10px 10px 10px 0px;
	width: 70px;
  background-color: green;
}



.nav {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*-------------------*/





/*----PORTFOLIO----*/
img.portfolio {
  max-width: 250px;
  padding: 0;
  margin: 0;
}


#work {
    background: #f2f2f2;
    padding: 70px 0px 120px 0px;
    background-color: green;
}

#work:nth-of-type(2n+1) {
  clear: left;
}


.overlay-text {
      font-size: 1em;
      font-style: italic;
      font-family: 'Nunito Sans', sans-serif;



/*
-------------------------------
:: Animation
-------------------------------
*/



#animate .menu li {
    transition: all 1s ease; /* Add transition */
}
#animate .menu li:hover {
    /* Add the hover state to transition too */
    background-color: #60b6c6; 
}
#animate .menu li:hover a {
    color: #ffffff; /* Lets also change the font color */
}


/*-------------------*/






/*---------ABOUT---------*/

.diane {
	float: left;
  margin: 0px 70px;
	border-radius: 50%;
  border: 1px solid white;
  padding: 5px;
  width: 200px;
  height: 200px;
}

.blurb {
  color: grey;
}

#about {
    background-image: url('../images/knitting250px.png');
    overflow: hidden;
    padding: 100px 170px 70px 100px;
    text-align: left;
  }

#about-box {
  text-align: center;
  margin: 0;
}





/*----CONTACT----*/
#contact {
  	padding: 30px 30px 30px 30px;
    background-image: url('../images/tweed.png');
    overflow: hidden;
}

.social {
width: 20px;
height: 25px;
margin: 35px 5px 0px 5px;
}


#reverse {
  color: lightgrey;
}


  /*
-------------------------------
:: Slider
------------------------------- */

.rotatorbox {
  width: 60%;
  margin: 0 auto;
}



